@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  @apply leading-snug;
}

:root {
  --thumb-size: 1rem;
  --track-width: 4rem;
  --track-height: 1.5rem;
  --track-padding: 0.25rem;
}
@layer components {
  .switch {
    width: var(--track-width);
    height: var(--track-height);
    padding: var(--track-padding);
    grid: [track] 1fr / [track] 1fr;
  }
  .switch::before {
    grid-area: track;
    width: var(--thumb-size);
    height: var(--thumb-size);
  }
  .switch:checked::before {
    transform: translateX(
      calc(var(--track-width) - var(--track-padding) * 2 - var(--thumb-size))
    );
  }
  .carousel {
    grid-auto-columns: minmax(80px, 1fr);
  }
  .carousel::-webkit-scrollbar {
    @apply h-1 w-1;
  }
  .carousel::-webkit-scrollbar-thumb {
    @apply rounded-full bg-neutral-700 dark:bg-neutral-300;
  }
  .carousel::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  *::-webkit-scrollbar {
    @apply h-1 w-1;
  }
  *::-webkit-scrollbar-thumb {
    @apply rounded-full bg-neutral-700 dark:bg-neutral-300;
  }
  *::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
}

svg {
  @apply h-4 w-4;
}
